{% extends 'wrapper.html' %}
{% block content %}

    <div class="container">
        <div class="nav nav-justified navbar-nav">

            <form class="navbar-form navbar-search" role="search" action="{% url 'search_cve' %}" method="get">
                <div class="input-group">

                    <input type="text" class="form-control mr-sm-2" placeholder="Search" name="q">

                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-search btn-primary">
                            Search
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="container">
        <h2>Всего CVE: {{ vsego }}</h2>
    </div>

    <div class="row">
        <div class="container">
            <table class="table table-hover table-striped form-group ">
                <thead>
                <tr>
                    {#<th scope="col" style ="width: 5%">№</th>#}
                    <th scope="row" >№</th>
                    <th scope="col" width="17%">Имя CVE</th>
                    <th scope="col" >Описание CVE</th>
                    <th scope="col" width="12%">CVSSv2</th>
                </tr>
                </thead>
                <tbody>
                {% for id in cve_s %}
                    <tr>
                        <th scope="row">{{ id.id }}</th>
                        <td><a href="/cve/{{ id.CVE_name }}" ><p class="font-weight-bold">{{ id.CVE_name }}</p></a></td>
                        <td>{{ id.Description }}</td>
                        <td>

                            {% if id.Description|truncatewords:"2"|slice:"4:10" == 'MEDIUM'%}
                                <p class="bg-warning text-white">{{  id.Description|truncatewords:"2"|slice:"0:10" }}</p>
                            {% elif id.Description|truncatewords:"2"|slice:"4:7" == 'HIG' %}
                                <p class="bg-danger text-white">{{  id.Description|truncatewords:"2"|slice:"0:9" }}</p>
                            {% elif id.Description|slice:"0:4" == '10.0' %}
                                <p class="text-white" style="background: black">{{  id.Description|truncatewords:"2"|slice:"0:10" }}</p>
                            {% elif id.Description|truncatewords:"2"|slice:"4:7" == 'LOW' %}
                                <p class="bg-info text-white">{{  id.Description|truncatewords:"2"|slice:"0:7" }}</p>
                            {% elif id.Description|slice:"0:4" == 'NONE' %}
                                <p class="bg-primary text-white">{{  id.Description|slice:"0:4" }}</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <div class="container">
        <div class="row justify-content-center">
            <ul class="pagination">
                {#            <span class="step-links">#}

                {% if cve_s.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&lt;&lt;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ cve_s.previous_page_number }}"> &lt; </a>
                    </li>
                {% endif %}



                <li class="page-item">
                    {#                    <span class="current">#}
                    <a class="page-link disabled" >{{ cve_s.number }} of {{ cve_s.paginator.num_pages }} </a>
                    {#                    </span>#}
                </li>


                {% if cve_s.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ cve_s.next_page_number }}">&gt;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ cve_s.paginator.num_pages }}">&gt;&gt;</a>
                    </li>
                {% endif %}

                </span>
            </ul>
        </div>
    </div>

{% endblock %}